<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/manActor.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배우 리스트</title>
  </head>
  <body>
    <div class="container">
      <h1>여자 배우 리스트</h1>

      <div class="category-buttons">
        <a href="/career/manActors" class="btn">남자 배우</a>
        <a href="/career/womanActor" class="btn">여자 배우</a>
        <a href="/career/movie" class="btn">영화</a>
        <a href="/career/drama" class="btn">드라마</a>
        <a href="/career/sameWork" class="btn">같은 작품 출연 배우</a>
      </div>

      <table>
        <thead>
          <tr>
            <th>이름</th>
            <th>나이</th>
            <th>경력</th>
          </tr>
        </thead>
        <tbody>
          <% actors.forEach(actor => { %>
          <tr>
            <td><%= actor.userName %></td>
            <td><%= actor.age %></td>
            <td>
              <ul>
                <% actor.careers.forEach(career => { %>
                <li>
                  <%= career.categor === 'movie' ? '영화' : career.categor ===
                  'drama' ? '드라마' : '뮤지컬' %> : <%= career.title %> - <%=
                  career.role %> (<%= career.gender %>)
                </li>
                <% }); %>
              </ul>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <br />
      <a href="/career" class="btn">리스트로 돌아가기</a>
    </div>
  </body>
</html>
